form {
  margin: var(--outer-distance) auto;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  width: 320px;
  background-color: #bbe3f3b2;
}

input {
  outline: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 2px solid #FFFFFF;
  padding: 10px 10px;
  margin: 15px -10px;
  box-shadow: 5px 10px 10px rgba(150, 105, 144, 0.8);
}

input:focus,
input:active {
  outline: none;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #959BDE, #DE95DB);
  transition: all .2s ease;
  border-radius: 3px;
}

.error {
  color: rgb(243, 122, 9);
  font-size: 12px;
}