* {
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #000;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album {
  padding: 3rem;
}

.form {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bag {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70vw;
  margin: 3rem;
}

.bag__list {
  min-height: 200px;
  background-color: rgba(143, 146, 150, .2);
  width: 70vw;
}

.button {
  display: flex;
  justify-content: flex-end;
  width: 70vw;
  margin: 3rem;
}

.list-unstyled__elem {
  display: flex;
  justify-content: flex-end;
}

/* POPUP */

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
}

.popup_img {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
}

.popup_img {
  pointer-events: none;
}

/* CART */

#mini-cart {
  width: 100%;
}

.cart {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 1em 0;
}
.card-text {
  margin: 15px 0px;
}

.card-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

p {
  margin: 0 1em;
}

input:invalid {
  border: red 2px solid;
  /* background-color: blue; */
}

input:invalid>.button__order {
  background-color: grey;
}

#total {
  color: white;
}